body{
	margin: 0;
	padding: 0;
	font-family: consolas;
	background: #242424;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.loader h1{
	font-size: 17em;
	background-image: url(earth.jpg);
	color: rgba(255,255,255,0.1);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: animate 30s linear infinite;
}

@keyframes animate
{
	0%{
		background-position: left 0px top -50px;
	}
	25%{
		background-position: left 400px top -40px;
	}
	50%{
		background-position: left 800px top -50px;
	}
	75%{
		background-position: left 1200px top -40px;
	}
	100%{
		background-position: left 1600px top -50px;
	}
}